{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static\css\packages.css">
    <title>Packages</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="search">
        <form action="" class="search-bar">
            <input type="text" placeholder="From" name="q">
            <input type="text" placeholder="To" name="p">        
            <button>GO</button>
        </form>
    </div>    
</body>
</html>